<div class="navbar">
</div>
<app-nav-bar></app-nav-bar>

<h1>08.10.2018</h1>

<div class="row">
  <div class="    col-md-9">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias fuga impedit quod sint! Aliquid, aperiam dolores
      dolorum ea ex incidunt molestias, nemo officiis perferendis praesentium quia, quo tempore vero voluptates.</p>
  </div>

  <div class="col-md-3">
    <img src="tło.jpg" alt="zdjecie"
         alt="tło" border="n" />

  </div>
  <script src="js/przycisk.js" type="text/javascript">    </script>
  <script src="js/nawbar.js" type="text/javascript">    </script>
