<form>
  <fieldset>
    <legend> Uzupelnij Dane:</legend>
    <label for="name">Imie</label>
    <input id="name" name="name" placeholder="Podaj Imie" required/>
    <br>
    <label for="surname">Nazwisko</label>
    <input id="surname" name="surname" placeholder="Podaj Nazwisko" required/>
    <br>
    <label for="email">Email</label>
    <input id="email" name="email" placeholder="Podaj E-mail" required/>
    <br>
    <label>Plec</label>
    <br/>
    <input type="radio"
           name="sex"
           id="man"
           value="man"
           checked required/>
    <label for="man">Man</label>
    <input type="radio"
           name="sex"
           id="woman"
           value="woman"
           checked required/>
    <label for="woman">Woman</label>

    <div class="form-group">
      <br><label for="Opis">Opis</label><br/>
      <textarea class="form-control" id="Opis" rows="3"></textarea>
    </div>
    <p>Ile masz lat?</p>
    <input type="radio" name="Wiek" value="mniej niż 15" />mniej niż 15<br />
    <input type="radio" name="Wiek" value="15-19" />15-19<br />
    <input type="radio" name="Wiek" value="20-29" />20-29<br />
    <input type="radio" name="Wiek" value="30-39" />30-39<br />
    <input type="radio" name="Wiek" value="40-60" />40-60<br />
    <input type="radio" name="Wiek" value="więcej niż 60" />więcej niż 60
  </fieldset>
  <button class="btn btn-primary" id="button" type="submit" onclick="walidacja()" value="submit">Wyślij</button>
  <button class="btn btn-secondary" id="clear" type="reset" value="reset">Wyczyść</button>

</form>

